body {
  margin: 0;
  padding: 0;
  background: #edeedc;
  font-family: Unna;
}

/* header */
.header {
  height: 118px;
  width: 100%;
  background: #5e5e5e;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100%;
}

.bellOff {
  height: 100%;
  margin-right: 15px;
}

.containerLogo {
  width: 320px;
}

.containerBellOf {
  height: 80px;
}

/* first page */
.containerButtonsInitial {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.buttonsInitial {
  width: 300px;
  height: 130px;
  background: #f3f6cb;
  border: 3px solid #81c9a4;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  margin-bottom: 100px;
  font-size: 40px;
  color: #5e5e5e;
}

/* second page */
.containerTablesView {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
}

.containerButtonsTables {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.buttonsTables {
  width: 230px;
  height: 110px;
  background: #f3f6cb;
  border: 3px solid #81c9a4;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  color: #5e5e5e;
  margin: 0 68px 80px 68px;
  font-size: 35px;
}

/* third page */
.buttonsChoiceMenu {
  display: flex;
  flex-direction: row;
}

.buttonMenuOn {
  background: #edeedc;
  width: 50%;
  height: 72px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 35px;
  color: #5e5e5e;
  border: none;
  flex-wrap: nowrap;
}

.buttonMenuOff {
  background: #a9a4a4;
  width: 50%;
  height: 72px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-size: 35px;
  color: #5e5e5e;
  border: none;
  flex-wrap: nowrap;
}

/* menu */
.containerViewButtonsMenu {
  display: flex;
  width: 50%;
  /* flex-wrap: wrap; */
}

.containerButtonsMenu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 100px;
  /* align-content: center; */
}

.buttonMenu {
  width: 165px;
  height: 96px;
  border: 3px solid #f3f6cb;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  font-size: 25px;
  margin: 0 27px 80px 27px;
}

.buttonDrinkMenu {
  background: #81c9a4;
  color: #5e5e5e;
}

.buttonMainMenu {
  background: #5e5e5e;
  color: #f3f6cb;
}

.buttonSidesMenu {
  background: #e6456f;
  color: #f3f6cb;
}

.buttonSubMenu {
  width: 105px;
  height: 50px;
  background: #f3f6cb;
  border: 2px solid #81c9a4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  font-size: 20px;
  color: #5e5e5e;
  margin: 0 10px 45px 18px;
}

.buttonSubMenuReady {
  width: 105px;
  height: 45px;
  background: #c7c2c2;
  border: 1px solid rgba(94, 94, 94, 0.76);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  font-size: 25px;
  color: #5e5e5e;
  font-weight: bold;
  margin-bottom: 80px;
}

.containerButtonsSubMenu {
  display: flex;
  flex-flow: column;
}

.containerbuttonSubMenuReady {
  align-self: flex-end;
}

/* Order Detail */
.containerViewOrderDetail {
  display: flex;
  width: 50%;
  /* height: 85vh; */
  justify-content: center;
}

.containerOrderDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e5e5e5;
  border: 5px solid rgba(94, 94, 94, 0.59);
  width: 370px;
  height: 900px;
  margin-top: 100px;
}

.containerAllPage {
  display: flex;
  flex-wrap: wrap
}

.containerEachOrder {
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 100%;
  justify-content: center;
  font-size: 25px;
  border-bottom: 2px dashed #A9A4A4;
}

.priceOrder {
  display: flex;
  align-items: flex-end;
  align-content: flex-end;
  justify-items: flex-end;
  justify-content: flex-end;
}